<mat-toolbar class="toolbar">
    <img src="assets/logo.png" id="img_logo" [routerLink]="['/main']" class="img-responsive" style="width:60px; margin-right: 10px;" >
    <span [routerLink]="['/main']" id="app_name">Eco Side</span>
    
    <span class="nav-bar-spacer"></span>
    <img src="assets/RealTimeNews.png" routerLink="/news" id="news" class="ico">
    <a mat-button routerLink="/news">Aktualnosci</a>
    <img src="assets/Reach.png" routerLink="/maps" id="reach" class="ico">
    <a mat-button routerLink="/maps">Mapa ekoportów</a>
    <img src="assets/Chart.png" routerLink="/stats" id="stats" class="ico">
    <a mat-button routerLink="/stats">Statystyki</a>
    <img src="assets/WasteSeparation.png" routerLink="/search-engine" id="waste" class="ico">
    <a mat-button routerLink="/search-engine">Eko Wyszukiwarka</a>
</mat-toolbar>

<mat-tab-group mat-stretch-tabs color="primary">
    <mat-tab label="Polska">
        <mat-card>
            <div class="stats">
            <p>Według danych PROM, w Polsce każdego roku marnuje się blisko <span class="red">5 mln ton</span> żywności.</p>
            <p><span class="red">Tylko 66%</span> Polaków segreguje śmieci.</p>
            <p>Aż połowa Polaków błędnie uważa, że przed wyrzuceniem słoików trzeba je umyć.</p>
            <p><span class="red">Tylko 1/3 polskich</span> konsumentów wierzy, że ich działania mogą przyczynić się do zahamowania negatywnego wpływu na środowisko.</p>
            </div>
        </mat-card>
    </mat-tab>
    <mat-tab label="Europa">
        <mat-card>
            <div class="stats">
            <p>W rankingu EPI 2022 (Environmental Performance Index), który bada jakość środowiska naturalnego w poszczególnych państwach świata oraz efektywność ich działań w zakresie ochrony przyrody, pierwsze miejsce zajęła <span class="red">Dania.</span></p>
            <p>W przeliczeniu na mieszkańca najwięcej odpadów komunalnych produkuje się w Danii, na Malcie, Cyprze i w Niemczech, a najmniej - w na Wegrzech, w Czechach, w Polsce i Rumunii.</p>
            <p><span class="red">46%</span> wszystkich odpadów komunalnych w UE podlega recyklingowi lub kompostowaniu - wynika ze statystyk z 2017 r.</p>
            </div>
        </mat-card>
    </mat-tab>
  </mat-tab-group>

