<mat-toolbar class="toolbar">
    <img src="assets/logo.png" id="logo" [routerLink]="['/main']" class="img-responsive" style="width:60px; margin-right: 10px;" >
    <span [routerLink]="['/main']">Eco Side</span>
    <span class="nav-bar-spacer"></span>
    <a mat-button routerLink="news">Aktualnosci</a>
    <a mat-button routerLink="maps">Mapa Punktow</a>
    <a mat-button routerLink="stats">Statystyki</a>
    <a mat-button routerLink="search-engine">Eko Wyszukiwarka</a>
</mat-toolbar>

<google-map 
    height="88%"
    width="100%"
    [zoom]="zoom"
    [center]="center"
    [options]="options">
    <map-marker
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    >
    </map-marker>
</google-map>

