<mat-toolbar class="toolbar">
    <img src="assets/logo.png" id="img_logo" [routerLink]="['/main']" class="img-responsive" style="width:60px; margin-right: 10px;" >
    <span [routerLink]="['/main']" id="app_name">Eco Side</span>
    
    <span class="nav-bar-spacer"></span>
    <img src="assets/RealTimeNews.png" routerLink="/news" id="news" class="ico">
    <a mat-button routerLink="/news">Aktualnosci</a>
    <img src="assets/Reach.png" routerLink="/maps" id="reach" class="ico">
    <a mat-button routerLink="/maps">Mapa ekoportów</a>
    <img src="assets/Chart.png" routerLink="/stats" id="stats" class="ico">
    <a mat-button routerLink="/stats">Statystyki</a>
    <img src="assets/WasteSeparation.png" routerLink="/search-engine" id="waste" class="ico">
    <a mat-button routerLink="/search-engine">Eko Wyszukiwarka</a>
</mat-toolbar>

<google-map 
    height="88%"
    width="100%"
    [zoom]="zoom"
    [center]="center"
    [options]="options">
    <map-marker
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    >
    </map-marker>
</google-map>

