<div id="logo" [routerLink]="['/main']">
  <img src="assets/logo.png" id="logo_img" class="img-responsive">
  <span>Eco Side</span>
</div>

<div class="wrap">
  <div id="one" class="bttn" [routerLink]="['/search-engine']">
    <img src="assets/WasteSeparation.png" id="waste">
    <span class="btn-text">Eko Wyszukiwarka</span>
  </div>
  <div id="two" class="bttn" [routerLink]="['/maps']">
    <img src="assets/Reach.png" id="reach">
    <span class="btn-text">Mapa ekoportów</span>
  </div>
  <div id="three" class="bttn" [routerLink]="['/news']">
    <img src="assets/RealTimeNews.png" id="news">
    <span class="btn-text">Aktualności</span>
  </div>
  <div id="four" class="bttn" [routerLink]="['/stats']">
    <img src="assets/Chart.png" id="stats" >
    <span class="btn-text">Statystyki</span>
  </div>
</div>