<mat-tab-group mat-stretch-tabs>

    <mat-tab label="Pomaranczowy">
        <mat-card>
            <div style="text-align:center;">
                <mat-card-title>Metale i tworzywa sztuczne</mat-card-title>
            </div>
            <mat-card-content>
                <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile>
                        <mat-card>
                            <div style="text-align:center;">
                                <mat-card-title>Tak</mat-card-title>
                            </div>
                            <mat-list>
                                <mat-list-item>Puste, zgniecione butelki plastikowe</mat-list-item>
                                <mat-list-item>Zakrętki od butelek i słoików</mat-list-item>
                                <mat-list-item>Plastikowe opakowania, torebki, worki foliowe</mat-list-item>
                                <mat-list-item>Kartony po sokach i mleku (tzw. tetrapaki)</mat-list-item>
                                <mat-list-item>Zgniecione puszki po napojach i żywności</mat-list-item>
                            </mat-list>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card>
                            <div style="text-align:center;">
                                <mat-card-title>Nie</mat-card-title>
                            </div>
                            <mat-list>
                                <mat-list-item>Zużyte baterie i akumulatory</mat-list-item>
                                <mat-list-item>Sprzęt elektryczny oraz elektroniczny</mat-list-item>
                                <mat-list-item>Puszki i pojemniki po farbach, butelki po olejach samochodowych</mat-list-item>
                                <mat-list-item>Opakowania po olejach silnikowych</mat-list-item>
                                <mat-list-item>Zatłuszczony pojemniki po żywności</mat-list-item>
                            </mat-list>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>
    </mat-tab>

    <mat-tab label="Zielony">
        <mat-card>
            <div style="text-align:center;">
                <mat-card-title>Szkło</mat-card-title>
            </div>
            <mat-card-content>
                <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile>
                        <mat-card>
                            <div style="text-align:center;">
                                <mat-card-title>Tak</mat-card-title>
                            </div>
                            <mat-list>
                                <mat-list-item>Opakowania szklane</mat-list-item>
                                <mat-list-item>Puste butelki</mat-list-item>
                                <mat-list-item>Słoiki</mat-list-item>
                                <mat-list-item>Opakowania po kosmetykach</mat-list-item>
                                <mat-list-item>Puste opakowania po lekach</mat-list-item>
                            </mat-list>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card>
                            <div style="text-align:center;">
                                <mat-card-title>Nie</mat-card-title>
                            </div>
                            <mat-list>
                                <mat-list-item>Szkło stołowe, okienne, ceramika</mat-list-item>
                                <mat-list-item>Wyroby ze szkła żaroodpornego</mat-list-item>
                                <mat-list-item>Lustra, szyby</mat-list-item>
                                <mat-list-item>Świetlówki</mat-list-item>
                                <mat-list-item>Porcelana</mat-list-item>
                            </mat-list>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>
    </mat-tab>

    <mat-tab label="Niebieski">
        <mat-card>
            <div style="text-align:center;">
                <mat-card-title>Papier</mat-card-title>
            </div>
            <mat-card-content>
                <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile>
                        <mat-card>
                            <div style="text-align:center;">
                                <mat-card-title>Tak</mat-card-title>
                            </div>
                            <mat-list>
                                <mat-list-item>Czyste opakowania z papieru i tektury</mat-list-item>
                                <mat-list-item>Gazety, czasopisma i ulotki</mat-list-item>
                                <mat-list-item>Słoiki</mat-list-item>
                                <mat-list-item>Kartony, zeszyty</mat-list-item>
                                <mat-list-item>Papier biurowy</mat-list-item>
                            </mat-list>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card>
                            <div style="text-align:center;">
                                <mat-card-title>Nie</mat-card-title>
                            </div>
                            <mat-list>
                                <mat-list-item>Zatłuszczone opakowania z papieru</mat-list-item>
                                <mat-list-item>Zużyte ręczniki papierowe i chusteczki</mat-list-item>
                                <mat-list-item></mat-list-item>
                                <mat-list-item></mat-list-item>
                                <mat-list-item></mat-list-item>
                            </mat-list>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    
    <mat-tab label="Brazowy">
        <mat-card>
            <div style="text-align:center;">
                <mat-card-title>Bioodpady</mat-card-title>
            </div>
            <mat-card-content>
                <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile>
                        <mat-card>
                            <div style="text-align:center;">
                                <mat-card-title>Tak</mat-card-title>
                            </div>
                            <mat-list>
                                <mat-list-item>Odpadki warzywne i owocowe</mat-list-item>
                                <mat-list-item>Skorupki jaj, fusy po kawie i herbacie</mat-list-item>
                                <mat-list-item>Zwiędłe kwiaty oraz rośliny doniczkowe</mat-list-item>
                                <mat-list-item>Resztki jedzenia bez mięsa</mat-list-item>
                                <mat-list-item>Kości oraz tłuszczów zwierzęcych</mat-list-item>
                            </mat-list>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card>
                            <div style="text-align:center;">
                                <mat-card-title>Nie</mat-card-title>
                            </div>
                            <mat-list>
                                <mat-list-item>Resztki mięsne</mat-list-item>
                                <mat-list-item>Zużyte ręczniki papierowe i chusteczki</mat-list-item>
                                <mat-list-item>Kości oraz tłuszcze zwierzęce</mat-list-item>
                                <mat-list-item>Olej jadalny, ziemia i kamienie</mat-list-item>
                                <mat-list-item>Odchody zwierząt</mat-list-item>
                            </mat-list>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>
    </mat-tab>

    <mat-tab label="Czarny">
        <mat-card>
            <div style="text-align:center;">
                <mat-card-title>Zmieszane</mat-card-title>
            </div>
            <mat-card-content>
                <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile>
                        <mat-card>
                            <div style="text-align:center;">
                                <mat-card-title>Tak</mat-card-title>
                            </div>
                            <mat-list>
                                <mat-list-item>Resztki mięsne oraz kości</mat-list-item>
                                <mat-list-item>Mokry lub zabrudzony papier</mat-list-item>
                                <mat-list-item>Pieluchy jednorazowe, zużyte materiały higieniczne</mat-list-item>
                                <mat-list-item>Żwirek z kuwet dla zwierząt, fajans</mat-list-item>
                                <mat-list-item>Potłuczone szyby i lustra, tekstylia</mat-list-item>
                            </mat-list>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card>
                            <div style="text-align:center;">
                                <mat-card-title>Nie</mat-card-title>
                            </div>
                            <mat-list>
                                <mat-list-item>Sprzęt elektryczny oraz elektroniczny</mat-list-item>
                                <mat-list-item>AGD, baterie i akumulatory</mat-list-item>
                                <mat-list-item>Kości oraz tłuszcze zwierzęce</mat-list-item>
                                <mat-list-item>Odpady budowlane i remontowe</mat-list-item>
                                <mat-list-item>Odpady zielone, leki oraz chemikalia</mat-list-item>
                            </mat-list>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>
    </mat-tab>
  </mat-tab-group>

