<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Pomaranczowy">
        <mat-card>
            <mat-card-title>Pomaranczowy</mat-card-title>
        </mat-card>
    </mat-tab>
    <mat-tab label="Zielony">
        <mat-card>
            <mat-card-title>Zielony</mat-card-title>
        </mat-card>
    </mat-tab>
    <mat-tab label="Niebieski">
        <mat-card>
            <mat-card-title>Niebieski</mat-card-title>
        </mat-card>
    </mat-tab>
    <mat-tab label="Brazowy">
        <mat-card>
            <mat-card-title>Brazowy</mat-card-title>
        </mat-card>
    </mat-tab>
    <mat-tab label="Czarny">
        <mat-card>
            <mat-card-title>Czarny</mat-card-title>
        </mat-card>
    </mat-tab>
  </mat-tab-group>

